_name: 'Preprocess Config (default)'

input_path: './data/wav48'
output_path: './data/features'

preprocessor_name: vctk

# List: each element should be found in the 'feat_config'.
feat_to_preprocess:
    - mel
    # - wav
    # - resemblyzer

# Feature Configuration
feat:
    wav:
       dtype: 'wav'
       sample_rate: 22050
       trim: 20
    mel: # this is for Mel-GAN
       dtype: 'melspectrogram'
       n_fft: 1024
       hop_length: 256
       win_length: 1024
       sample_rate: 22050
       n_mels: 80
       f_min: 0
       f_max: 11025
       trim: 20
    # resemblyzer:
    #     dtype: 'resemblyzer'


